<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link rel="stylesheet" href="static/css/style.css">


	</head>
	<body class="img js-fullheight" style="background-image: url(static/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Change book values</h3>
		      	<form action="/edite_book" class="signin-form", method="POST" enctype="multipart/form-data">
				<input type="hidden" name="ID_LIBRO" value="{{id}}">
				<!-- name -->
		      	<div class="form-group">
		      		<input type="text" class="form-control" placeholder="New name" name="name" required>
		      	</div>

				<!-- last_name -->
				<div class="form-group">
					<input type="text" class="form-control" placeholder="New autor" name="autor" required>
				</div>
							
				<!-- user_name -->
				<div class="form-group">
					<input type="text" class="form-control" placeholder="New editorial" name="editorial" required>
				</div>

				<!-- address -->
				<div class="form-group">
					<input type="text" class="form-control" placeholder="New descripcion" name="descripcion" required>
				</div>

				<!-- phone -->
				<div class="form-group">
					<input type="text" class="form-control" placeholder="New price" name="precio" required>
				</div>
			
				<!-- mail -->
				<div class="form-group">
					<input type="file" id="book-image" name="image" accept="image/*" required>
				</div>

				


	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Update</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	          	</form>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

