{% extends 'base_pages.html' %}

{% block content %}
<!--welcome  to the library-->
    <section id="home" class="section">
        <h2>Welcome to Library Shopping</h2>
        <p>Your one-stop destination for buying books and educational resources. Find the best books on every subject!</p>
    </section>

    <!--new releases-->
    {% for row in range(turns) %}
    
        {% if row < 1 %}    <!--if it is the firs row, the books are news-->
            <section id="catalog" class="section">
            <h2>New releases</h2>
            <div class="catalog-items">
                {% set ns = namespace(contador=0) %}
                {% for book in allbooks[row] %}
                     {% set ns.contador = ns.contador + 1 %}
                    <div class="item position-relative">
                        {% if ns.contador |int < 6 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-secondary">Nuevo <span class="visually-hidden">unread messages</span></span>
                        {% endif %}
                        <h3>{{book['nombre_libro']}}</h3>
                        <p>{{book['autor']}}</p>
                        <img id="item-image" src="{{book['imagen']}}" alt="">

                        <div>
                            <form action="book_details" method="post" class="buy-now-button" >
                            <input type="hidden" name="id_libro" value="{{ book['id_libro'] }}">
                            <button type="submit" >{{ labels['buttons']['buy'] }}</button>
                            </form>
                        </div>
            
       
                    </div>
                {% endfor %}
            </div>
        </section>

        {% else %}<!-- these books aren't news -->  
        
            <section id="catalog" class="section">
            <h2>Our catalog</h2>
            <div class="catalog-items">
                
                {% for book in allbooks[row] %}
                    
                    <div class="item position-relative">
                
                        <h3>{{book['nombre_libro']}}</h3>
                        <p>{{book['autor']}}</p>
                        <img id="item-image" src="{{book['imagen']}}" alt="">

                        <div>
                            <form action="book_details" method="post" class="buy-now-button" >
                            <input type="hidden" name="id_libro" value="{{ book['id_libro'] }}">
                            <button type="submit" >{{ labels['buttons']['buy'] }}</button>
                            </form>
                        </div>
            
    
                    </div>
                {% endfor %}
            </div>
        </section>

        {% endif %} <!-- end if-->

    {% endfor %}


  {% endblock %}

  