{% extends 'base_pages.html' %}

{% block content %}
<section id="home" class="section">
  <h2>check what you have in your cart</h2>
  <p>Your one-stop destination for buying books and educational resources. Find the best books on every subject!</p>
</section>

<!-- cart no empty-->
{% if cart == True %}

<!-- buton to buy all the Items-->
<div class="button-buy-cart">
  <button id="bookID"  value=""   type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#buy-Items" >Buy Items</button> 
</div>

<!--modal to confirm-->
<div class="modal fade" id="buy-Items" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel"> Message </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="fs-5">Total price</h2>
        <hr>
        <p> <strong> ${{ total_price }}</strong> </p>

        <form action="buy_Items">

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="myForm"  type="submit" class="btn btn-primary" >Buy Items</button>
            </div>

        </form>
      

      </div>
  </div>
  </div>
</div>

<!--section to show all the Items in the cart-->
<section id="catalog" class="section">

    <main>
      <div class="container-fluid px-4">
          <h1 class="mt-4">Tu Carrito</h1>
          <!--<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
              <button type="button" class="btn btn-primary me-md-2 btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo</button>
          </div>-->
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-table me-1"></i>
                  Carrito de Compras
              </div>
              <div class="card-body">
              <table id="tableCarrito" class="display" style="width: 100%">
                  <thead>
                      <tr>
                          <th>Libro</th>
                          <th>Nombre Libro</th>
                          <th>Autor</th>
                          <th>Descripcion</th>
                          <th>Cantidad</th>
                          <th>Precio U</th>
                          <th>Total</th>
                          <th>Eliminar</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th>Libro</th>
                          <th>Nombre Libro</th>
                          <th>Autor</th>
                          <th>Descripcion</th>
                          <th>Cantidad</th>
                          <th>Precio U</th>
                          <th>Total</th>
                          <th>Eliminar</th>
                      </tr>
                  </tfoot>
              </table>
              </div>
          </div>
      </div>
    </main>

    <!-- cart empty-->     
    {%else %}

    <section id="home" class="section">
      <h2>Your cart looks empty</h2>
      <p>Add things to your cart to see the Items you've added.</p>
    </section>

       
  {% endif %}   
   <script>
      mostrarCarrito();
   </script>      

{% endblock %}
