{% extends 'base_pages.html'%}

{% block content %}
<!--review your purchases-->
    <section id="home" class="section">
        <h2>Review your previous purchases</h2>
        <p>Your one-stop destination for buying books and educational resources. Find the best books on every subject!</p>
    </section>

<!-- purchases-->
    <section id="catalog" class="section">
          <h2>Purchases</h2>
             
              {% for x in range(0,rango) %}
                      <section class="section">
                              <div class="catalog-items">
                                <div class="item-position-relative">
                                    <!--book-->
                                    
                                      <h3>{{BOOKS[x][0]['nombre_libro'] }}</h3>
                                      <p>{{BOOKS[x][0]['autor']}}</p>
                                   
                                      
                                      <img id="item-image" src="{{ BOOKS[x][0]['imagen'] }}" alt="">
                                    
                                      <!--button-->
                                </div>
                                <div>
                                    <button id="bookID"  value="{{BOOKS[x][0]['id_libro']}}"   type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{x}}" >Display</button>
                                            
                                </div>

                                </div>

                              </div>
                          
                        </section>
              

                          <!-- MODAL -->
                            <div class="modal fade" id="{{x}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                              <div class="modal-content">
                                  <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel"> Message </h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">


                                    <h2 class="fs-5">Book delivered </h2>
                                    <p>Your pound arrived on January 17 at 2:05 p.m.</p>
                                    <hr>
                                    <h2 class="fs-5">Would you like to rate your book?</h2>
                                  
                                    
                                    <form action="book_rating" method="post">

                                            <div id="stars">
                                              <!-- Star buttons, click will update the rating -->
                                              <button type="button" class="star-button" data-rating="1">★</button>
                                              <button type="button" class="star-button" data-rating="2">★</button>
                                              <button type="button" class="star-button" data-rating="3">★</button>
                                              <button type="button" class="star-button" data-rating="4">★</button>
                                              <button type="button" class="star-button" data-rating="5">★</button>
                                          </div>

                                            <!-- Hidden input field to submit the rating -->
                                            <input type="hidden" name="rating" id="rating-{{x}}" value="">
                                            <input type="hidden"  name="id_libro" value="{{BOOKS[x][0]['id_libro']}}">
                                              
                                              <label for="book-editorial">Add a comment:</label>
                                              <input type="text" name="comment" required>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        
                                            
                                            
                                        <button id="myForm"  type="submit" class="btn btn-primary" >Save changes</button>
                                    </form>
                                  

                                  </div>
                              </div>
                              </div>
                            </div>

               {% endfor %}
            
          

              


    </section>
{% endblock%}